!!! 5
html
    head
        title Meepbop
        link(rel="stylesheet", href="css/meepbop.css", type="text/css")
        link(rel="stylesheet", href="fonts/lobster-two/stylesheet.css", type="text/css")
        link(rel="stylesheet", href="fonts/droid-serif/stylesheet.css", type="text/css")
        
    body
        .center
            h1 Meepbop
            h2 Higher than Ecstasy...