body {
	padding: 10px;
	background: ivory;
	text-align: center;
	text-shadow: 1px 1px 1px black;
}
h1 {
	font-family: 'DroidSerifBold';
	font-size: 96px;
	color: steelblue;
}
h2 {
	font-family: 'LobsterTwoBoldItalic', Arial, sans-serif;
	font-size: 36px;
	color: seagreen;
}